node_modules
cypress/.DS_Store
cypress/screenshots
cypress/videos
cypress/reports
allure-results
cypress/snapshots/**/__diff_output__
cypress/parallel-weights.json
multi-reporter-config.json
runner-results